{% extends 'base.html' %}
{% block content %}
    {% if error_not_found %}
        <h2 style="text-align: center">Invaild Search</h2>
    {% endif %}
    {% if not error_not_found %}
      <h2 style="text-align: center">{{ search | title }}</h2>

        <div class="row">
        {% for post in final_postings %}
             <div class="card">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{ post.0 }}<i class="material-icons right">more_vert</i></span>
                    <p class="p1" >{{ post.1 }}</p>
                  <p class="p2" ><a class="waves-effect waves-light btn" href="{{ post.3 }}"><i class="material-icons right">cloud</i>View Job</a></p>


                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{ post.0 }}<i class="material-icons right">close</i></span>
                  <p>This job is provided by {{ post.2 }}
                      <br> {{ post.4 }}</p>
                </div>
             </div>
        {% endfor %}
        </div>
    {% endif %}
{%  endblock content %}